<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- Dubbo配置 -->
    <dubbo:application name="ps-cashloan-manage-center" logger="${dubbo.application.logger}"/>
    <!-- 通过 广播通知所有人-->
    <dubbo:registry id="cashloan" address="${cashloan.registry.address}" protocol="${cashloan.registry.protocol}"/>
    <dubbo:protocol name="${protocol.name}" port="${protocol.port}" threads="500" payload="${protocol.payload}"/>
    <dubbo:provider filter="-exception" payload="${provider.payload}"/>

    <dubbo:service interface="com.adpanshi.cashloan.manage.report.domain.AuditDomain" version="1.0.0" ref="auditDomain" validation="false" timeout="50000" retries="0" registry="cashloan"/>
    <dubbo:reference id="jmsActiveTaskDomain" interface="com.adpanshi.cashloan.jms.task.domain.JmsActiveTaskDomain" version="1.0.0" check="false" registry="cashloan"/>
    <dubbo:reference id="userDataDomain" interface="com.adpanshi.cashloan.data.user.domain.UserDataDomain" version="1.0.0" check="false" registry="cashloan"/>
    <dubbo:reference id="equifaxCreditReportDomain" interface="com.adpanshi.cashloan.data.thirdparty.equifax.domain.EquifaxCreditReportDomain" version="1.0.0" check="false" registry="cashloan"/>
    <dubbo:reference id="appDataDomain" interface="com.adpanshi.cashloan.data.appdata.domain.AppDataDomain" version="1.0.0" check="false" registry="cashloan"/>
    <dubbo:reference id="moxieSIMDomain" interface="com.adpanshi.cashloan.data.thirdparty.moxie.domain.MoxieSIMDomain" version="1.0.0" check="false" registry="cashloan"/>
    <dubbo:reference id="moxieSNSDomain" interface="com.adpanshi.cashloan.data.thirdparty.moxie.domain.MoxieSNSDomain" version="1.0.0" check="false" registry="cashloan"/>
    <dubbo:reference id="userDataPackageDomain" interface="com.adpanshi.cashloan.business.user.domain.UserDataPackageDomain" version="1.0.0" check="false" registry="cashloan"/>
</beans>
