<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--
        部署新工程的配置文件修改步骤
        1、修改ContextName
        2、修改KAFKA_SERVER_LOCATION
        3、修改INFO_KAFKA_OUT->topic
     -->
    <!-- 工程、上下文名字 -->
    <property name="APPLICATION_NAME" value="ps-cashloan-manage-center"/>
    <contextName>${APPLICATION_NAME}</contextName>
    <!-- 日志最大的历史 30天 -->
    <property name="MAX_HISTORY" value="30"/>
    <!-- 定义日志文件 输出位置 -->
    <property name="LOG_DIR" value="${catalina.home}/logs"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <layout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger:%line] - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>


    <appender name="WARN_FILE_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/error-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/error-log.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/info-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/info-log.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <!-- 生产环境［不］配置此Appender -->
        <appender-ref ref="STDOUT"/>
        <!-- 生产环境需要配置此Appender -->
        <appender-ref ref="INFO_FILE_OUT"/>
        <!-- 生产环境需要配置此Appender -->
        <appender-ref ref="WARN_FILE_OUT"/>
    </root>


</configuration>
